.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .investLogoContainer {
    text-align: center;
    margin-bottom: 20px;
  }
  
  h2 {
    text-align: center;
  }
  
  .formGroup {
    margin-bottom: 15px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  .cmp-button {
    width: 100%;
    padding: 10px;
    background-color: #404E4D;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .cmp-button:hover {
    background-color: #548380;
  }
  
  p {
    text-align: center;
    margin-top: 10px;
  }
  
  p[style="color:green"] {
    color: green;
  }
  
  p[style="color:red"] {
    color: red;
  }
  